body
{
  margin: 10px;
}

.mapa{
    height: 600px;
    width: 700px;
    border: 1px solid black;
}

.input-width{
  width: 230px;
}

.buttom-width{
  width: 230px;
  margin-top: 10px;
}